.searchBar {
	justify-self: center;
	border-radius: 10px;
	border: 2px solid;
	border-color: var(--main-bg);
	width: 40ch;
	background-color: var(--main-bg);
	display: flex;
}

#searchBarInput {
	background-color: var(--main-bg);
	border: none;
	color: var(--text-color);
	margin-left: 10px;
	width: 90%;
}

#searchBarInput:focus {
	outline: none;
}

#searchButton {
	background-color: var(--main-bg);
	border: none;
	width: 5ch;
	margin-right: 5px;
}