:root {
	--sidebarBackground: #bdb9b4;
	--overBackground: #8f8c89;
}

#sidebar {
	background-color: var(--sidebarBackground);
}

.openedSidebar {
	width: clamp(150px, 20%, 300px);
	height: 100%;
}

.closedSidebar {
	width: clamp(50px, 5%, 75px);
	height: 100%;
}

.sidebarHeader {
	display: flex;
}

.projectDiv {
	display: flex;
	justify-content: space-evenly;
}

.clickable {
	cursor: pointer;
}