:root {
	--sidebarBackground: #bdb9b4;
}

#sidebar {
	background-color: var(--sidebarBackground);
}

.openedSidebar {
	width: clamp(100px, 15%, 200px);
	height: 100%;
}

.closedSidebar {
	width: clamp(50px, 5%, 75px);
	height: 100%;
}

.sidebarHeader {
	height: 3em;
	color: var(--text-color);
	margin-left: var(--side-margins);
	margin-right: var(--side-margins);
	display: flex;
	align-items: center;
	justify-content: space-between;
}