/* open side bar */

:root {
	--sidebar-bg: #EAE8E4;
}

#sidebar {
	height: 100%;
	background-color: var(--sidebar-bg);
	display: flex;
}

.openSideBar {
	width: clamp(200px, 30%, 300px);
}

.closedSideBar {
	width: clamp(50px, 5%, 100px);
}

.sideBarHeading {
	height: 5%;
	display: flex;
}