/* style for this project */

:root {
	--text-color: #333333;
	/* High contrast for readability */
	--header-bg: #E0DCD6;
	/* Soft header background */
	--main-bg: #F8F7F5;
	/* Subtle contrast for sidebars */
	--side-margins: 20px
}

body {
	height: 100vh;
	width: 100vw;
}


header {
	background-color: var(--header-bg);
	display: flex;
	padding: 10px var(--side-margins);
	width: 100%;
	height: 5%;
	align-items: center;
	justify-content: center;
}

header h1 {
	width: 7ch;
	position: absolute;
	left: var(--side-margins);
}

#main {
	height: 95%;
}