/* style for this project */

:root {
	--text-color: #333333;
	/* High contrast for readability */
	--header-bg: #E0DCD6;
	/* Soft header background */
	--main-bg: #F8F7F5;
	/* Light and clean main background */
	--sidebar-bg: #EAE8E4;
	/* Subtle contrast for sidebars */
	--side-margins: 20px
}

header {
	background-color: var(--header-bg);
	display: flex;
	padding: 10px var(--side-margins);
	align-items: center;
	justify-content: center;
}

header h1 {
	width: 7ch;
	position: absolute;
	left: var(--side-margins);
}

.searchBar {
	justify-self: center;
	border-radius: 10px;
	border: none;
	width: 40ch;
	background-color: var(--main-bg);
	display: flex;
}

.searchBar:focus {
	outline: none;
}

#searchBarInput {
	background-color: var(--main-bg);
	border: none;
	color: var(--text-color);
	margin-left: 10px;
	width: 90%;
}

#searchBarInput:focus {
	outline: none;
}

#searchButton {
	background-color: var(--main-bg);
	border: none;
	width: 5ch;
	margin-right: 5px;
}